@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #230528; */
  background-image: url("./assets/bg.webp");
  background-image: image-set("/../images/image-370x370.webp", "./assets/bg.webp");
  background-image: -webkit-image-set("/../images/image-370x370.webp", "./assets/bg.webp");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

  /* Chrome, Edge, and Safari */
  body::-webkit-scrollbar, .scrollbar-style::-webkit-scrollbar, .sidebar-list::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  body::-webkit-scrollbar-track {
    background: #200323;
  }

  body::-webkit-scrollbar-thumb, .scrollbar-style::-webkit-scrollbar-thumb, .sidebar-list::-webkit-scrollbar-thumb {
    background-color: #200323 ;
    border-radius: 0px;
    border: 3px none #ffffff;
  }
  .custom-margin {
    margin: min(30%, 5rem);
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #6d3a77;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .podium-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; /* Adjust as necessary */
    }
    
    .podium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 20px;
    }
    
    .podium > div:nth-child(1) {
      grid-column: span 2;
      justify-self: center;
    }
    
    .podium > div:nth-child(2),
    .podium > div:nth-child(3) {
      justify-self: center;
    }

    .podium_header {
      text-shadow: 0 0 2px #b02eca;
      -webkit-text-stroke: 1px #b02eca;
      color: transparent;
    }
    .podium_placement {
      text-shadow: 0 0 40px #b02eca;
      -webkit-text-stroke: 1px #b02eca;
      color: transparent;
    }